.row {
  margin-left: auto;
  margin-right: auto;
  max-width: 72rem;
  width: 100%; }
  @media (max-width: 620px) {
    .row {
      padding-left: 1rem;
      padding-right: 1rem; } }
  @media (min-width: 620px) and (max-width: 772px) {
    .row {
      padding-left: 1.5rem;
      padding-right: 1.5rem; } }
  @media (min-width: 772px) {
    .row {
      padding-left: 1.5rem;
      padding-right: 1.5rem; } }

@media (max-width: 620px) {
  .col-medium-1, .col-medium-2, .col-medium-3, .col-medium-4, .col-medium-5, .col-medium-6, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
    grid-column: 1/span 4; } }

@media (min-width: 620px) and (max-width: 772px) {
  .col-small-1, .col-small-2, .col-small-3, .col-small-4, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
    grid-column: 1/span 6; } }

@media (min-width: 772px) {
  .col-small-1, .col-small-2, .col-small-3, .col-small-4, .col-medium-1, .col-medium-2, .col-medium-3, .col-medium-4, .col-medium-5, .col-medium-6 {
    grid-column: 1/span 12; } }

.grid-demo [class*='col-'] {
  background: rgba(199, 22, 43, 0.1);
  margin-bottom: 0.5rem; }

.col-small-1, .col-small-2, .col-small-3, .col-small-4, .col-medium-1, .col-medium-2, .col-medium-3, .col-medium-4, .col-medium-5, .col-medium-6, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
  display: block; }

.row {
  display: grid;
  grid-template-rows: auto;
  margin-left: auto;
  margin-right: auto;
  max-width: 72rem; }
  .row [class*='col-'] {
    grid-column-start: auto; }
  .row .row {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0; }
  @media (max-width: 620px) {
    .row {
      grid-gap: 0 1.5rem;
      grid-template-columns: repeat(4, minmax(0, 1fr)); }
      .row > * {
        grid-column-end: span 4; } }
  @media (min-width: 620px) and (max-width: 772px) {
    .row {
      grid-gap: 0 2rem;
      grid-template-columns: repeat(6, minmax(0, 1fr)); }
      .row > * {
        grid-column-end: span 6; } }
  @media (min-width: 772px) {
    .row {
      grid-gap: 0 2rem;
      grid-template-columns: repeat(12, minmax(0, 1fr)); }
      .row > * {
        grid-column-end: span 12; } }

@media (max-width: 620px) {
  .col-small-4 {
    grid-column-end: span 4; }
    .col-small-4 .row {
      grid-template-columns: repeat(4, minmax(0, 1fr)); }
  .col-small-3 {
    grid-column-end: span 3; }
    .col-small-3 .row {
      grid-template-columns: repeat(3, minmax(0, 1fr)); }
  .col-small-2 {
    grid-column-end: span 2; }
    .col-small-2 .row {
      grid-template-columns: repeat(2, minmax(0, 1fr)); }
  .col-small-1 {
    grid-column-end: span 1; } }

@media (min-width: 620px) and (max-width: 772px) {
  .col-medium-6 {
    grid-column-end: span 6; }
    .col-medium-6 .row {
      grid-template-columns: repeat(6, minmax(0, 1fr)); }
  .col-medium-5 {
    grid-column-end: span 5; }
    .col-medium-5 .row {
      grid-template-columns: repeat(5, minmax(0, 1fr)); }
  .col-medium-4 {
    grid-column-end: span 4; }
    .col-medium-4 .row {
      grid-template-columns: repeat(4, minmax(0, 1fr)); }
  .col-medium-3 {
    grid-column-end: span 3; }
    .col-medium-3 .row {
      grid-template-columns: repeat(3, minmax(0, 1fr)); }
  .col-medium-2 {
    grid-column-end: span 2; }
    .col-medium-2 .row {
      grid-template-columns: repeat(2, minmax(0, 1fr)); }
  .col-medium-1 {
    grid-column-end: span 1; } }

@media (min-width: 772px) {
  .col-12 {
    grid-column-end: span 12; }
    .col-12 .row {
      grid-template-columns: repeat(12, minmax(0, 1fr)); }
  .col-11 {
    grid-column-end: span 11; }
    .col-11 .row {
      grid-template-columns: repeat(11, minmax(0, 1fr)); }
  .col-10 {
    grid-column-end: span 10; }
    .col-10 .row {
      grid-template-columns: repeat(10, minmax(0, 1fr)); }
  .col-9 {
    grid-column-end: span 9; }
    .col-9 .row {
      grid-template-columns: repeat(9, minmax(0, 1fr)); }
  .col-8 {
    grid-column-end: span 8; }
    .col-8 .row {
      grid-template-columns: repeat(8, minmax(0, 1fr)); }
  .col-7 {
    grid-column-end: span 7; }
    .col-7 .row {
      grid-template-columns: repeat(7, minmax(0, 1fr)); }
  .col-6 {
    grid-column-end: span 6; }
    .col-6 .row {
      grid-template-columns: repeat(6, minmax(0, 1fr)); }
  .col-5 {
    grid-column-end: span 5; }
    .col-5 .row {
      grid-template-columns: repeat(5, minmax(0, 1fr)); }
  .col-4 {
    grid-column-end: span 4; }
    .col-4 .row {
      grid-template-columns: repeat(4, minmax(0, 1fr)); }
  .col-3 {
    grid-column-end: span 3; }
    .col-3 .row {
      grid-template-columns: repeat(3, minmax(0, 1fr)); }
  .col-2 {
    grid-column-end: span 2; }
    .col-2 .row {
      grid-template-columns: repeat(2, minmax(0, 1fr)); }
  .col-1 {
    grid-column-end: span 1; } }

@media (max-width: 620px) {
  .row [class*='col-'].col-start-small-1 {
    grid-column-start: 1; }
  .col-order-small-1 {
    order: 1; }
  .row [class*='col-'].col-start-small-2 {
    grid-column-start: 2; }
  .col-order-small-2 {
    order: 2; }
  .row [class*='col-'].col-start-small-3 {
    grid-column-start: 3; }
  .col-order-small-3 {
    order: 3; } }

@media (min-width: 620px) and (max-width: 772px) {
  .row [class*='col-'].col-start-medium-1 {
    grid-column-start: 1; }
  .col-order-medium-1 {
    order: 1; }
  .row [class*='col-'].col-start-medium-2 {
    grid-column-start: 2; }
  .col-order-medium-2 {
    order: 2; }
  .row [class*='col-'].col-start-medium-3 {
    grid-column-start: 3; }
  .col-order-medium-3 {
    order: 3; }
  .row [class*='col-'].col-start-medium-4 {
    grid-column-start: 4; }
  .col-order-medium-4 {
    order: 4; }
  .row [class*='col-'].col-start-medium-5 {
    grid-column-start: 5; }
  .col-order-medium-5 {
    order: 5; } }

@media (min-width: 772px) {
  .row [class*='col-'].col-start-large-1 {
    grid-column-start: 1; }
  .col-order-large-1 {
    order: 1; }
  .row [class*='col-'].col-start-large-2 {
    grid-column-start: 2; }
  .col-order-large-2 {
    order: 2; }
  .row [class*='col-'].col-start-large-3 {
    grid-column-start: 3; }
  .col-order-large-3 {
    order: 3; }
  .row [class*='col-'].col-start-large-4 {
    grid-column-start: 4; }
  .col-order-large-4 {
    order: 4; }
  .row [class*='col-'].col-start-large-5 {
    grid-column-start: 5; }
  .col-order-large-5 {
    order: 5; }
  .row [class*='col-'].col-start-large-6 {
    grid-column-start: 6; }
  .col-order-large-6 {
    order: 6; }
  .row [class*='col-'].col-start-large-7 {
    grid-column-start: 7; }
  .col-order-large-7 {
    order: 7; }
  .row [class*='col-'].col-start-large-8 {
    grid-column-start: 8; }
  .col-order-large-8 {
    order: 8; }
  .row [class*='col-'].col-start-large-9 {
    grid-column-start: 9; }
  .col-order-large-9 {
    order: 9; }
  .row [class*='col-'].col-start-large-10 {
    grid-column-start: 10; }
  .col-order-large-10 {
    order: 10; }
  .row [class*='col-'].col-start-large-11 {
    grid-column-start: 11; }
  .col-order-large-11 {
    order: 11; } }

.row {
  width: 100%; }
